trunk/src/main/groovy/com/roojai/radar/stubMotor/output/outputmotor.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Quote">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Add_Benefits_TPBI_Default_SI">
                <xs:complexType>
                  <xs:attribute name="value" type="xs:double"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="Array_Prem_0xs_AnyWorkshop_Named_Comp_Type2">
                <xs:complexType>
                  <xs:attribute name="value" type="xs:double"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="Array_Prem_0xs_AnyWorkshop_Named_Comp_Type3">
                <xs:complexType>
                  <xs:attribute name="value" type="xs:double"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="Array_Prem_0xs_AnyWorkshop_Named_NoComp_Type2">
                <xs:complexType>
                  <xs:attribute name="value" type="xs:double"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="Array_Prem_0xs_AnyWorkshop_Named_NoComp_Type3">
                <xs:complexType>
                  <xs:attribute name="value" type="xs:double"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="Array_Prem_2000xs_AnyWorkshop_Named_Comp_Type2_Plus">
                <xs:complexType>
                  <xs:attribute name="value" type="xs:double"></xs:attribute>
                </xs:complexType>
              </xs:element>
              <xs:element name="Array_Prem_2000xs_AnyWorkshop_Named_Comp_Type3_Plus">
                <xs:complexType>
                  <xs:attribute name="value" type="xs:double"></xs:attribute>
                </xs:complexType>
              </xs:element>
              <xs:element name="Array_Prem_2000xs_AnyWorkshop_Named_NoComp_Type2_Plus">
                <xs:complexType>
                  <xs:attribute name="value" type="xs:double"></xs:attribute>
                </xs:complexType>
              </xs:element>
              <xs:element name="Array_Prem_2000xs_AnyWorkshop_Named_NoComp_Type3_Plus">
                <xs:complexType>
                  <xs:attribute name="value" type="xs:double"></xs:attribute>
                </xs:complexType>
              </xs:element>
              <xs:element name="Array_Prem_2000xs_PanelWorkshop_Named_Comp_Type2_Plus">
                <xs:complexType>
                  <xs:attribute name="value" type="xs:double"></xs:attribute>
                </xs:complexType>
              </xs:element>
              <xs:element name="Array_Prem_2000xs_PanelWorkshop_Named_Comp_Type3_Plus">
                <xs:complexType>
                  <xs:attribute name="value" type="xs:double"></xs:attribute>
                </xs:complexType>
              </xs:element>
              <xs:element name="Array_Prem_2000xs_PanelWorkshop_Named_NoComp_Type2_Plus">
                <xs:complexType>
                  <xs:attribute name="value" type="xs:double"></xs:attribute>
                </xs:complexType>
              </xs:element>
              <xs:element name="Array_Prem_2000xs_PanelWorkshop_Named_NoComp_Type3_Plus">
                <xs:complexType>
                  <xs:attribute name="value" type="xs:double"></xs:attribute>
                </xs:complexType>
              </xs:element>
              <xs:element name="Array_Prem_3000xs_AnyWorkshop_Named_Comp_Type1">
                <xs:complexType>
                  <xs:attribute name="value" type="xs:double"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="Array_Prem_3000xs_AnyWorkshop_Named_NoComp_Type1">
                <xs:complexType>
                  <xs:attribute name="value" type="xs:double"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="Array_Prem_3000xs_PanelWorkshop_Named_Comp_Type1">
                <xs:complexType>
                  <xs:attribute name="value" type="xs:double"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="Array_Prem_3000xs_PanelWorkshop_Named_NoComp_Type1">
                <xs:complexType>
                  <xs:attribute name="value" type="xs:double"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="Array_Prem_5000xs_AnyWorkshop_Named_Comp_Type1">
                <xs:complexType>
                  <xs:attribute name="value" type="xs:double"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="Array_Prem_5000xs_AnyWorkshop_Named_NoComp_Type1">
                <xs:complexType>
                  <xs:attribute name="value" type="xs:double"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="Array_Prem_5000xs_PanelWorkshop_Named_Comp_Type1">
                <xs:complexType>
                  <xs:attribute name="value" type="xs:double"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="Array_Prem_5000xs_PanelWorkshop_Named_NoComp_Type1">
                <xs:complexType>
                  <xs:attribute name="value" type="xs:double"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="Array_Prem_10000xs_AnyWorkshop_Named_Comp_Type1">
                <xs:complexType>
                  <xs:attribute name="value" type="xs:double"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="Array_Prem_10000xs_AnyWorkshop_Named_NoComp_Type1">
                <xs:complexType>
                  <xs:attribute name="value" type="xs:double"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="Array_Prem_10000xs_PanelWorkshop_Named_Comp_Type1">
                <xs:complexType>
                  <xs:attribute name="value" type="xs:double"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="Array_Prem_10000xs_PanelWorkshop_Named_NoComp_Type1">
                <xs:complexType>
                  <xs:attribute name="value" type="xs:double"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="Array_Prem_20000xs_AnyWorkshop_Named_Comp_Type1">
                <xs:complexType>
                  <xs:attribute name="value" type="xs:double"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="Array_Prem_20000xs_AnyWorkshop_Named_NoComp_Type1">
                <xs:complexType>
                  <xs:attribute name="value" type="xs:double"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="Array_Prem_20000xs_PanelWorkshop_Named_Comp_Type1">
                <xs:complexType>
                  <xs:attribute name="value" type="xs:double"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="Array_Prem_20000xs_PanelWorkshop_Named_NoComp_Type1">
                <xs:complexType>
                  <xs:attribute name="value" type="xs:double"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="Array_Prem_30000xs_AnyWorkshop_Named_Comp_Type1">
                <xs:complexType>
                  <xs:attribute name="value" type="xs:double"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="Array_Prem_30000xs_AnyWorkshop_Named_NoComp_Type1">
                <xs:complexType>
                  <xs:attribute name="value" type="xs:double"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="Array_Prem_30000xs_PanelWorkshop_Named_Comp_Type1">
                <xs:complexType>
                  <xs:attribute name="value" type="xs:double"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="Array_Prem_30000xs_PanelWorkshop_Named_NoComp_Type1">
                <xs:complexType>
                  <xs:attribute name="value" type="xs:double"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="Array_Prem_40000xs_AnyWorkshop_Named_Comp_Type1">
                <xs:complexType>
                  <xs:attribute name="value" type="xs:double"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="Array_Prem_40000xs_AnyWorkshop_Named_NoComp_Type1">
                <xs:complexType>
                  <xs:attribute name="value" type="xs:double"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="Array_Prem_40000xs_PanelWorkshop_Named_Comp_Type1">
                <xs:complexType>
                  <xs:attribute name="value" type="xs:double"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="Array_Prem_40000xs_PanelWorkshop_Named_NoComp_Type1">
                <xs:complexType>
                  <xs:attribute name="value" type="xs:double"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="Array_Prem_50000xs_AnyWorkshop_Named_Comp_Type1">
                <xs:complexType>
                  <xs:attribute name="value" type="xs:double"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="Array_Prem_50000xs_AnyWorkshop_Named_NoComp_Type1">
                <xs:complexType>
                  <xs:attribute name="value" type="xs:double"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="Array_Prem_50000xs_PanelWorkshop_Named_Comp_Type1">
                <xs:complexType>
                  <xs:attribute name="value" type="xs:double"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="Array_Prem_50000xs_PanelWorkshop_Named_NoComp_Type1">
                <xs:complexType>
                  <xs:attribute name="value" type="xs:double"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="BusinessRules_Data_Validation">
                <xs:complexType>
                  <xs:attribute name="value" type="xs:string"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="BusinessRules_ErrorMessages">
                <xs:complexType>
                  <xs:attribute name="value" type="xs:string"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="BusinessRules_MaxAuthorisationLevel">
                <xs:complexType>
                  <xs:attribute name="value" type="xs:double"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="BusinessRules_Result">
                <xs:complexType>
                  <xs:attribute name="value" type="xs:string"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="Car_Default_Value_Final">
                <xs:complexType>
                  <xs:attribute name="value" type="xs:double"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="Cover_Bail_Bond_SI">
                <xs:complexType>
                  <xs:attribute name="value" type="xs:int"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="Cover_Driver_Plan">
                <xs:complexType>
                  <xs:attribute name="value" type="xs:string"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="Cover_Includes_Compulsory_Flag">
                <xs:complexType>
                  <xs:attribute name="value" type="xs:string"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="Cover_Medical_Expenses_SI">
                <xs:complexType>
                  <xs:attribute name="value" type="xs:double"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="Cover_OD_Collision_SI">
                <xs:complexType>
                  <xs:attribute name="value" type="xs:double"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="Cover_OD_Deductible_Amount">
                <xs:complexType>
                  <xs:attribute name="value" type="xs:int"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="Cover_OD_Fire_Theft_SI">
                <xs:complexType>
                  <xs:attribute name="value" type="xs:double"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="Cover_OD_Natural_Disaster_SI">
                <xs:complexType>
                  <xs:attribute name="value" type="xs:double"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="Cover_OD_Personal_Accident_SI">
                <xs:complexType>
                  <xs:attribute name="value" type="xs:double"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="Cover_PA_Drivers_SI">
                <xs:complexType>
                  <xs:attribute name="value" type="xs:double"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="Cover_PA_Passengers_SI">
                <xs:complexType>
                  <xs:attribute name="value" type="xs:double"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="Cover_TP_Voluntary_Bodily_Injury_Accident_SI">
                <xs:complexType>
                  <xs:attribute name="value" type="xs:double"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="Cover_TP_Voluntary_Bodily_Injury_SI">
                <xs:complexType>
                  <xs:attribute name="value" type="xs:int"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="Cover_TP_Voluntary_Property_Damage_SI">
                <xs:complexType>
                  <xs:attribute name="value" type="xs:int"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="Cover_Territorial_Selection">
                <xs:complexType>
                  <xs:attribute name="value" type="xs:string"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="Cover_Voluntary_Type">
                <xs:complexType>
                  <xs:attribute name="value" type="xs:string"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="Cover_Windscreen_SI">
                <xs:complexType>
                  <xs:attribute name="value" type="xs:double"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="Cover_Workshop_Selection">
                <xs:complexType>
                  <xs:attribute name="value" type="xs:string"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="Current_Code">
                <xs:complexType>
                  <xs:attribute name="value" type="xs:string"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="Default_Cover_Driver_Plan">
                <xs:complexType>
                  <xs:attribute name="value" type="xs:string"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="Default_Cover_Includes_Compulsory_Flag">
                <xs:complexType>
                  <xs:attribute name="value" type="xs:string"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="Default_Cover_OD_Deductible_Amount">
                <xs:complexType>
                  <xs:attribute name="value" type="xs:double"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="Default_Cover_Voluntary_Type">
                <xs:complexType>
                  <xs:attribute name="value" type="xs:string"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="Default_Cover_Workshop_Selection">
                <xs:complexType>
                  <xs:attribute name="value" type="xs:string"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="Default_Premium_Voluntary_Before_Taxes">
                <xs:complexType>
                  <xs:attribute name="value" type="xs:double"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="Fault_Claims_For_Rating">
                <xs:complexType>
                  <xs:attribute name="value" type="xs:double"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="Monthly_No_Deposit_Payment_Loading_Factor">
                <xs:complexType>
                  <xs:attribute name="value" type="xs:double"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="Non_Annual_Payment_Loading_Factor">
                <xs:complexType>
                  <xs:attribute name="value" type="xs:double"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="Policy_Product_Version">
                <xs:complexType>
                  <xs:attribute name="value" type="xs:string"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="Prem_Details_Calculated_NCB_Pct">
                <xs:complexType>
                  <xs:attribute name="value" type="xs:double"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="Prem_Details_Renewal_Adjustment_Pct">
                <xs:complexType>
                  <xs:attribute name="value" type="xs:string"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="Prem_Details_Tariff_Maximum">
                <xs:complexType>
                  <xs:attribute name="value" type="xs:double"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="Prem_Details_Tariff_Minimum">
                <xs:complexType>
                  <xs:attribute name="value" type="xs:double"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="Prem_Details_Technical_Adjusted">
                <xs:complexType>
                  <xs:attribute name="value" type="xs:double"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="Prem_Details_Technical_Auto">
                <xs:complexType>
                  <xs:attribute name="value" type="xs:double"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="Prem_Details_Voluntary_Discount_Pct">
                <xs:complexType>
                  <xs:attribute name="value" type="xs:double"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="Prem_Final_Bail_Bond">
                <xs:complexType>
                  <xs:attribute name="value" type="xs:double"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="Prem_Final_Basic_123">
                <xs:complexType>
                  <xs:attribute name="value" type="xs:double"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="Prem_Final_Basic_5">
                <xs:complexType>
                  <xs:attribute name="value" type="xs:double"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="Prem_Final_Compulsory_Before_Taxes">
                <xs:complexType>
                  <xs:attribute name="value" type="xs:double"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="Prem_Final_Compulsory_Commission">
                <xs:complexType>
                  <xs:attribute name="value" type="xs:double"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="Prem_Final_Core_123">
                <xs:complexType>
                  <xs:attribute name="value" type="xs:double"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="Prem_Final_Core_5">
                <xs:complexType>
                  <xs:attribute name="value" type="xs:double"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="Prem_Final_Loading_Factor_123">
                <xs:complexType>
                  <xs:attribute name="value" type="xs:double"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="Prem_Final_Loading_Factor_5">
                <xs:complexType>
                  <xs:attribute name="value" type="xs:double"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="Prem_Final_Medical_Expenses">
                <xs:complexType>
                  <xs:attribute name="value" type="xs:double"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="Prem_Final_NCB">
                <xs:complexType>
                  <xs:attribute name="value" type="xs:double"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="Prem_Final_Named_Driver_Discount">
                <xs:complexType>
                  <xs:attribute name="value" type="xs:double"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="Prem_Final_OD_Deductible">
                <xs:complexType>
                  <xs:attribute name="value" type="xs:double"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="Prem_Final_PA_Drivers">
                <xs:complexType>
                  <xs:attribute name="value" type="xs:double"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="Prem_Final_PA_Passengers">
                <xs:complexType>
                  <xs:attribute name="value" type="xs:double"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="Prem_Final_Voluntary_Basic">
                <xs:complexType>
                  <xs:attribute name="value" type="xs:double"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="Prem_Final_Voluntary_Before_Taxes">
                <xs:complexType>
                  <xs:attribute name="value" type="xs:double"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="Prem_Final_Voluntary_Commission">
                <xs:complexType>
                  <xs:attribute name="value" type="xs:double"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="Prem_Final_Voluntary_Discount">
                <xs:complexType>
                  <xs:attribute name="value" type="xs:double"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="Quarterly_Payment_Loading_Factor">
                <xs:complexType>
                  <xs:attribute name="value" type="xs:double"></xs:attribute>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>